/* Header css start */
.app__header {
  background-color: #1363DF;
  color: #ffffff;
  min-height: 88px;

  .app__header-container {
    max-width: 1400px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    min-height: 88px;

    a {
      color: #fff;
      text-decoration: none;
    }

    .app__logo {
      display: flex;
      align-items: center;
    }

    ul {
      padding-top: 15px;
      display: flex;
      gap: 20px;

      li {
        padding-top: 20px;
        margin-bottom: 2px;

        a {
          font-size: 12px;
          padding-bottom: 25px;
          display: block;
          border-bottom: 5px solid transparent;

          &:hover {
            border-bottom: 5px solid #ffffff;
          }

          &.active {
            border-bottom: 5px solid #ffffff;
          }
        }
      }
    }

    .app__icon {
      position: relative;
      padding-top: 30px;

      img {
        width: 30px;
      }

      .badge {
        padding: 2px 5px;
        background-color: #06283D;
        font-size: 10px;
        border-radius: 50%;
        position: absolute;
        top: 23px;
        right: -10px;
      }
    }

    .hamburger {
      display: none;
    }
  }
}

/* Header CSS end */

/* Banner css start */
.app__banner {
  background-color: #a8a8a8;
  color: #ffffff;

  .banner__content {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    min-height: 320px;

    span:after {
      content: "";
      width: 100px;
      height: 5px;
      display: block;
      background-color: #1363DF;
      margin: 20px auto 0;
    }

    h1 {
      background-color: #1B252C;
      width: 30%;
      display: flex;
      justify-content: center;
      align-items: center;

      span {
        display: block;
        width: 200px;
        text-align: center;
        font-size: 35px;
      }
    }

    .banner__img {
      background-color: #a7ad7c;
      width: 70%;
      border-top: 10px solid #fff;
      border-bottom: 10px solid #fff;
      justify-content: center;
      display: flex;
      align-items: center;
      font-size: 50px;
    }
  }
}

/* footer css start */
footer {
  .footer__links {
    border-top: 5px solid #E5E5E7;
    border-bottom: 2px solid #E5E5E7;


    .footer__block {
      width: 1400px;
      display: flex;
      margin: 0 auto;
      padding: 25px 0;
      font-size: 16px;

      ul {
        width: 25%;

        li {
          padding-bottom: 5px;
          color: #545D63;

          a {
            text-decoration: none;
            color: #545D63;

            &:hover {
              text-decoration: underline;
            }
          }

          &:first-child {
            color: #000;
            padding-bottom: 10px;
          }

          ul {
            margin-top: 10px;
            display: flex;
            gap: 20px;

          }
        }
      }
    }
  }

  .footer__copyright {
    width: 1400px;
    margin: 25px auto;
    display: flex;
    justify-content: space-between;
    color: #545D63;

    div {
      &:nth-of-type(1) {
        font-size: 20px;
        letter-spacing: 4px;
      }

      &:nth-of-type(2),
      &:nth-of-type(3) {
        font-size: 14px;
      }

      &:last-child {
        a {
          color: #545D63;
          padding-left: 20px;
        }
      }
    }
  }
}

/* Main Section css start*/
main {
  display: none;
  max-width: 1400px;
  margin: 25px auto;
  display: flex;

  .left-section {
    width: 300px;
    /* background-color: #d1d1d1; */
    margin-right: 25px;

    .close {
      display: none;
    }

    .breadcrumb {
      font-size: 16px;


      .breadcrumb__list {
        list-style: none;
        display: flex;
        align-items: center;
        gap: 10px;
      }

      .breadcrumb__item {

        a {
          text-decoration: none;
          color: #172026;

          &::after {
            content: "/";
            padding: 0 0 0 10px;
          }
        }
      }

      .breadcrumb__item--active {
        color: #545D63;
      }
    }

    h4 {
      font-size: 16px;
      border-bottom: 1px solid #ccc;
      padding-bottom: 10px;
      margin-bottom: 10px;
      font-weight: normal;
      margin-top: 10px;
    }

    .filter__category {
      p {
        padding: 0 0 10px;
      }

      input[type="checkbox"] {
        width: 20px;
        height: 20px;
        margin-right: 10px;
        position: relative;
        top: 6px;
      }

      ul {
        li {
          padding-bottom: 8px;
        }
      }
    }
  }

  .right-section {
    width: calc(100% - 300px);

    /* background-color: #ffeeee; */
    .resul-row {
      display: flex;
      justify-content: space-between;
      padding: 0 0 20px;
    }

    .mobile-row {
      display: none;
    }

    select {
      border: 1px solid #ccc;
      padding: 5px;
      border-radius: 4px;
      width: 200px;
      color: #333;
    }

    .card-section {
      display: flex;
      flex-wrap: wrap;

      .card {
        /* width: calc(100% / 3); */
        /* background-color: #dfdfdf; */
        width: calc(33.33% - 30px);
        border: 1px solid #f6f6f6;
        margin: 0 15px 10px 15px;

        .picture-section {
          height: 382px;
          display: flex;
          justify-content: center;
        }

        img {
          /* width: 90%; */
          /* height: auto; */
          object-fit: scale-down;
        }
      }

      .des-section {
        padding: 10px;
      }
    }
  }


}


/* Main Section css  end*/

/* Media query start from here */

@media (max-width:1430px) {

  .app__header {
    .app__header-container {
      max-width: 100%;
      margin: 0 16px;
    }
  }

  main {
    max-width: 100%;
    margin: 20px 16px;
  }

  footer {
    .footer__links {
      padding-left: 16px;
      padding-right: 16px;

      .footer__block {
        max-width: 100%;
      }
    }

    .footer__copyright {
      max-width: 100%;
      padding-left: 16px;
      padding-right: 16px;
    }
  }

}

@media (max-width:991px) {
  main {
    & .right-section {
      & .card-section {
        .card {
          width: calc(50% - 30px);
        }
      }
    }
  }
}

@media (max-width:767px) {
  body.toggle {
    main {
      .left-section {
        right: -46px;
      }
    }
  }

  .app__header {
    .app__header-container {
      .app__icon {
        padding-top: 20px;

        .badge {
          right: 0;
          top: 10px;
        }
      }

      .hamburger {
        position: relative;
        width: 25px;
        height: 25px;
        top: 20px;
        left: 15px;
        cursor: pointer;
        display: block;

        .line {
          display: block;
          background-color: #fff;
          height: 2px;
          margin-top: 5px;
        }
      }

    }
  }

  .app__nav {
    display: none;
  }

  .app__header {
    min-height: 68px;

    .app__header-container {
      max-width: 100%;
      min-height: 68px;
    }
  }


  main {
    max-width: 100%;

    .left-section {
      position: fixed;
      background-color: #ffffff;
      z-index: 99;
      right: -120%;
      top: 0;
      width: 100%;
      bottom: 0;
      height: 100vh;
      transition: all 200ms ease-in-out;

      &::before {
        content: "";
        background-color: #06283D;
      }

      .breadcrumb {
        display: none;
      }

      h4 {
        padding: 10px 20px;
        background-color: #efefef;
        position: relative;
        margin-top: 0px;

        .close {
          display: block;
          width: 20px;
          height: 20px;
          position: absolute;
          right: 40px;
          top: 10px;
        }
      }

      .filter__category {
        padding: 20px;
      }
    }

    .right-section {
      width: 100%;

      .resul-row {
        display: none;
      }

      .mobile-row {
        display: block;
        text-align: center;

        .breadcrumb__list {
          text-align: left;
          padding-bottom: 25px;

          li {
            display: inline-block;
            padding: 0 2px;

            &:after {
              content: "/";
              padding-left: 10px;
            }

            &:last-child {
              color: #545D63;
            }

            &:last-child::after {
              content: ""
            }

            a {
              text-decoration: none;
              color: #333;
            }
          }
        }

        .filter-aera {
          padding-bottom: 25px;

          a {
            display: ruby;
            padding: 0 15px;
            text-decoration: none;
            color: #000;

            img {
              position: relative;
              top: 2px;
              left: -6px;
              width: 14px;
            }
          }
        }
      }

      .card-section {
        flex-wrap: wrap;

        .card {
          width: calc(100% / 2 - 30px);

          .picture-section {
            height: 192px;
          }
        }
      }
    }

  }

  .app__banner {
    position: relative;

    .banner__content {
      /* display: inherit; */
      flex-wrap: wrap;
      min-height: auto;
      position: relative;
      margin-bottom: 130px;

      h1 {
        width: 90%;
        margin: 0 auto;
        order: 2;
        position: absolute;
        top: 60%;
        min-height: 180px;
      }

      .banner__img {
        width: 100%;
        height: 200px;
        border: 0;
      }
    }
  }


  footer {
    .footer__links {
      .footer__block {
        max-width: 100%;
        display: block;
        padding: 0 25px;

        ul {
          li {
            &:first-child {
              padding-top: 30px;
            }
          }
        }
      }


    }

    .footer__copyright {
      max-width: 60%;
      flex-direction: column;
      text-align: center;

      div {
        &:nth-of-type(1) {
          order: 3
        }

        &:nth-of-type(2) {
          order: 1;
          padding: 25px 0;
        }
      }
    }
  }




}